@use "/home/owl/.config/ags/scss/vars.scss";


window.Notifications>box {
	padding: 8px;

	box.Notification {
		@include vars.box;

		min-height: 72px;
		min-width: 328px;
		margin-bottom: 12px;

		transition: 200ms opacity ease-out;

		&.closing {
			opacity: 0;
		}

		box.icon {
			min-width: 72px;
			min-height: 72px;
			margin: 16px 16px 16px 0;

			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-origin: content-box;
			border-radius: calc(vars.$borderRadius / 2);
		}

		icon {
			min-width: 72px;
			margin-left: -12px;
			margin-right: 6px;
			font-size: 52px;
		}

		box.info {
			label.summary {
				font-weight: bold;
				margin: 8px 0 2px;
			}

			label.body {
				margin-bottom: 8px;
			}

			box.actions {
				min-height: 28px;
				margin-bottom: 12px;

				button {
					padding: 0 8px;

					border-radius: calc(vars.$borderRadius / 2);
					background: vars.$bgSecondary;

					&:first-child {
						font-weight: bold;
						background: vars.$accent;
						color: black;
					}
				}
			}
		}
	}
}